.crud {
    display: flex;
    justify-content: center;
    background-color: slategray;
}

.container-contact {
    margin-top: 20px;
    width: 80%;
    border: 1px solid black;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.personal-paramters{
    display: flex;
    flex-direction: row;
}

.person-text {
    margin-right: 20px;
}