.App {
  display: flex;
  justify-content: center;
  background-color: slategray;
}

.text {
  width: 300px;
}

.data-student {
  font-size: medium;
  color: #196335 ;
}

.person-text {
  font-size: large;
}


.linkdiv {
  display: flex;
  justify-content: center;
}
.linkpicture {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.pic-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  
}


.picture {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.picture2 {
  margin-left: 20px;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}



.qualifications {
  display: grid;
  column-gap: 50px;
}

.skills {
  text-align: center;
  color: #196335 ;;
}

.skills2 {
  width: 200px;
  height: 200px;
}

.javascript {
  grid-row: 2;
  grid-column: 2;
}

.java{
  grid-row: 1;
  grid-column: 3;
}



.azure {
  grid-row-start: 2;
  
}

.inner {
  width: 200px;
}
